.aider*
.vscode/*
*.code-workspace
.DS_Store
__pycache__
*.pyc
*.pyo
*.html
test*.txt
extra
experimental
data/caches/*
data/secrets.json
data/logs
data/logs/*
data/embeddings/*
improvements.md
scratch*.ipynb
example_notebook.ipynb
visible/*c